API_ENTRA_APP_CLIENT_ID=23cde6e4-7c2b-4201-a46a-c62e01194b4b
API_ENTRA_APP_CLIENT_SECRET=<your-api-entra-app-client-secret>
API_ENTRA_APP_AUTHORITY=https://login.microsoftonline.com/9517aa17-4352-4384-a035-49eb9d1bc46b/

CONTAINER_TYPE_ID=04c6b1f9-d206-420d-863f-87a14609a514
